<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>게시글 작성</title>
  <th:block th:replace="fragments/header_board :: header_board"></th:block>
  <th:block th:replace="fragments/bootstrap :: bootstrap"></th:block>
  <link href="/css/post.css" rel="stylesheet" />
  <script src="/js/githubRepos.js"></script>
</head>
<body>
<!-- 네비게이션 바 -->
<div th:replace="navbar :: navbar"></div>
<!-- 사이드바 -->
<div th:replace="sidebar :: sidebar"></div>

<div class="container mt-5">

  <h3>게시글 작성</h3>
  <form>
    <!-- 글 제목 -->
    <div class="mb-3">
      <label for="title" class="form-label">글 제목</label>
      <input type="text" class="form-control" id="title" placeholder="글 제목을 입력하세요" required>
    </div>

    <!-- 작성자 -->
    <div class="mb-3">
      <label for="writer" class="form-label">작성자</label>
      <input type="text" class="form-control" id="writer" name="writer" th:value="${userName}" readonly>
    </div>

    <!-- 게시판 선택 -->
    <div class="mb-3">
      <label for="board" class="form-label">게시판 선택</label>
      <select class="form-select" id="board" required>
        <option value="">게시판을 선택하세요</option>
        <option value="qna">QnA</option>
        <option value="community">커뮤니티</option>
        <option value="tip">팁</option>
        <option value="etc">기타</option>
      </select>
    </div>

    <!-- 내용 -->
    <div class="mb-3">
      <label for="content" class="form-label">내용</label>
      <textarea class="form-control" id="content" rows="4" placeholder="글 내용을 작성하세요" required></textarea>
    </div>
    <button type="button" onclick="loadRepos()">내 GitHub 저장소 불러오기</button><br><br>
    <select id="reoiSekect" onchange="insertRepoInfo()">
      <option value="">저장소 선택</option>
    </select><br><br>

    <!-- 이미지 업로드 -->
    <div class="mb-3">
      <label for="image" class="form-label">이미지 업로드</label>
      <input class="form-control" type="file" id="image" name="image" accept="image/*">
    </div>

    <!-- 해시태그 -->
    <div class="mb-3">
      <label for="hashtags" class="form-label">해시태그</label>
      <input type="text" class="form-control" id="hashtags" placeholder="해시태그를 입력하세요" data-role="tagsinput">
    </div>

    <!-- 제출 버튼 -->
    <button type="submit" class="btn btn-primary">게시글 작성</button>
  </form>
</div>
</body>
</html>
